<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">

    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        h1 {
            font-size: 7em;
            color: white;
        }

        h2 {
            font-size: 3em;
            font-family: 'Open Sans Condensed', sans-serif;
            color: #FFFFFF;

        }

        h3 {
            font-size: 1em;
            font-family: 'Open Sans Condensed', sans-serif;
        }

        h4 {
            font-size: 1.5em;
            font-family: 'Open Sans Condensed', sans-serif;
            color: #FFFFFF;

        }

        body {
            text-align: center;
            background-color: #0B0B0B;
            max-width: auto;
            padding-left: 3%;
            padding-right: 3%;
            color: #FFFFFF;
        }

        .line {
            display: inline-block;
            text-align: center;
        }

        .block {
            display: block;
        }

        a {
            color: white;
            text-decoration: none;
            font-family: 'Open Sans Condensed', sans-serif;
            margin: 2%;
        }

        a:hover {
            color: darkcyan;
        }

        .buttons {
            display: inline-block;
        }

        img {
            display: inline-block;
            height: auto;
        }
    </style>
</head>

<body>
    <header>
        <nav>
            <a href="/art">Home</a>
        </nav>
    </header>

    <main>
        <ul>
            <h2> <%=art.title%> </h2>

            <h3><img src="<%=art.img%>" width="400" height="400"></h3>
            <h4>Description</h4>
            <h5><%=art.description%></h5>
        </ul>
        <div class="buttons">

            <form action="/art/<%=art.id%>?_method=PUT" method="POST">
                <% if(art.qty === 0){%>
                OUT OF STOCK
                <% } %>
                <% if(art.qty >= 0) {%>
                <input type="hidden" name="qty" value="<%= art.qty -1%>" />
                <input type="submit" name="" value="BUY" />

                <% } %>
            </form>



            <a href="/art/<%=art.id%>/edit"><button>EDIT</button></a>

            <form action="/art/<%=art.id%>?_method=DELETE" method="POST">
                <input type="submit" value="DELETE" />
            </form>
        </div>
    </main>

    <!-- ADDING COMMENT SECTION -->


    <form action="/art" method="POST">
        <input type="text" name="critic" width="400" height="200" placeholder="Post your comments...">
        <input type="submit" name="" value="Post" />
    </form>

    <!-- DISPLAYING POSTS -->

    <p> <%=art.critic%> </p>

    <!-- comment section -->
    <!-- 
    <form action="/comment/" method="POST">
        <input type="text" name="name" placeholder="Name" /><br />
        <input type="text" name="post" placeholder="Post..." /><br />
        <input type="submit" name="" value="Create Post" />
    </form> -->

</body>